* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 90%;
  padding: 50px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 8px;
  margin: 10vw auto;
  min-width: 330px;
}

body {
  background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)
}

div.image img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
div.texto {
  padding: 20px;
  text-align: justify;
}

.contato_lista{
  list-style: none;
}

.contato_lista li a{
  padding: 5px;
  text-decoration: none;
  color: gray;
  font-size: larger;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
  }
  div.texto {
    text-align: center;
  }
}
