* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 90%;
  padding: 50px;
  background: linear-gradient(45deg, #00f 1%, #fff 1%, #fff 49%, #00f 53%, #00f 51%, #fff 13%, #fff 99%, #00f 42%);
  background-size: 6px 6px;
  background-position: 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 8px;
  margin: 10vw auto;
  min-width: 330px;
  max-width: 930px;
}

body {
  background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)
}

div.image img {
    border-radius: 30% 70% 64% 36% / 30% 32% 68% 70%;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 9px 4px 35px -18px rgb(0 0 0 / 75%);
    -moz-box-shadow: 9px 4px 35px -18px rgba(0,0,0,0.75);
    box-shadow: 9px 4px 35px -18px rgb(0 0 0 / 75%);
}

div.texto {
  padding: 20px;
  text-align: justify;
}

.contato_lista{
  list-style: none;
}

.contato_lista li a{
  padding: 5px;
  text-decoration: none;
  color: gray;
  font-size: larger;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
  }
  div.texto {
    text-align: center;
  }
}
